<!DOCTYPE html>
<html lang="zh-CN" ng-app="ngApp">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>新时代证券帮助中心</title>
<meta name="description" content="">
<meta name="author" content="ZHENGJINGUANG">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">

<link rel="shortcut icon" href="images/logo.png">
<link rel="apple-touch-icon" href="images/logo.png">

<!--css link-->

<link href="css/cloud-admin.css" rel="stylesheet" />
<link href="css/themes/default.css" rel="stylesheet" />
<link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="css/responsive.css" rel="stylesheet" />
<link href="css/main.css" rel="stylesheet" />
<link href="css/default.css" rel="stylesheet" />


<!--[if lt IE 9]>
	<script src="lib/plugins/html5shiv.min.js"></script>
	<script src="lib/plugins/respond.min.js"></script>
<![endif]-->
</head>

<body>
	<div ng-controller="indexController" ng-init="init()">
		<header class="navbar clearfix" id="header">
			<div class="container">
				<div class="navbar-brand">
					<!-- COMPANY LOGO -->
					<a href="index.html"> 
						<img src="images/main.png" alt="Cloud Admin Logo" class="img-responsive" height="30" width="120">
					</a>
					<!-- /COMPANY LOGO -->
					<!-- TEAM STATUS FOR MOBILE -->
					<div class="visible-xs">
						<a href="#" class="team-status-toggle switcher btn dropdown-toggle"> 
							<i class="fa fa-users"></i>
						</a>
					</div>
					<!-- /TEAM STATUS FOR MOBILE -->
					<!-- SIDEBAR COLLAPSE -->
					<div id="sidebar-collapse" class="sidebar-collapse btn">
						<i class="fa fa-bars" data-icon1="fa fa-bars"
							data-icon2="fa fa-bars"></i>
					</div>
					<!-- /SIDEBAR COLLAPSE -->
				</div>
				<ul class="nav navbar-nav pull-right">
					<!-- BEGIN USER LOGIN DROPDOWN -->
					<li class="dropdown user" id="header-user">
						<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"> 
							<img alt="" src="images/xiaoxin.jpg" /> 
							<span class="username" ng-bind="user.username"></span> 
							<i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu">
							<li class="hide"><a href="javascript:void(0)"><i class="fa fa-user"></i>
									我的信息</a></li>
							<li class="hide"><a href="#"><i class="fa fa-cog"></i>
									Account Settings</a></li>
							<li class="hide"><a href="#"><i class="fa fa-eye"></i>
									Privacy Settings</a></li>
							<li>
								<a href="/platform/logout"><i class="fa fa-power-off"></i>退出</a>
							</li>
						</ul>
					</li>
					<!-- END USER LOGIN DROPDOWN -->
				</ul>
			</div>
		</header>
		<!--/HEADER -->
		<section id="page">
			<div id="sidebar" class="sidebar">
				<div class="sidebar-menu nav-collapse">
					<div class="divide-23"></div>
					<!-- SEARCH BAR -->
					<div class="hide" id="search-bar">
						<input class="search" ng-model="search" type="text" placeholder="菜单搜索"> 
						<i class="fa fa-search search-icon"></i>
					</div>
					<!-- /SEARCH BAR -->

					<!-- SIDEBAR MENU -->
					<ul id="mainMenu">
						<li class="has-sub" ng-init="first=$index" ng-class="{open:item.isOpen,active:item.isActive}" ng-repeat="item in menu| filter:search" ng-click="expanded($index);">
							<a href="javascript:void(0)">
								<i class="fa fa-fw fa-4x" ng-class="item.resource_path"></i> 
								<span class="menu-text" ng-bind="item.menu_name"></span> 
								<span ng-show="item.arrow" ng-class="{open:item.isOpen||item.isActive}" class="arrow"></span>
							</a>
							<ul class="nav sub nav-list secondmenu" ng-class="{collapse:!item.isOpen}">
								<li ng-repeat="row in menu[$index].child" ng-class="{current:row.isCurrent}" ng-click="gotoMenu(first,$index,row.forward,$event)">
									<a href="javascript:void(0)">
										<span ng-bind="row.menu_name"></span>
									</a>
								</li>
							</ul>
						</li>
					</ul>
					<!-- /SIDEBAR MENU -->
				</div>
			</div>
			<!-- /SIDEBAR -->
			<div id="main-content">
				<div class="modal fade" id="box-config" tabindex="-1" role="dialog"
					aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">&times;</button>
								<h4 class="modal-title">Box Settings</h4>
							</div>
							<div class="modal-body">Here goes box setting content.</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default"
									data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary">Save
									changes</button>
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div id="content" class="col-sm-12">
							<div class="row">
								<div class="col-sm-12">
									<div class="page-header">
										<!-- 导航条-->
										<ul class="breadcrumb">
											<li>
												<i class="fa fa-home"></i> <a href="javascript:void(0)" ng-click=gotoMain()>首页</a>
											</li>
											<li ng-repeat="nav in navigation">
												<a href="javascript:void(0)" ng-click="gotoNav(nav.goto)"><span ng-bind="nav.name"></span></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- 主内容区  -->
							<div ui-view></div>
						</div>
						<!-- /CONTENT-->
					</div>
				</div>
			</div>
		</section>
		<!-- loading区-->
		<div times="6" showtime="0"
			style="z-index: 19891020; left: 0px; width: 0px; height: auto; top: 0px; margin-left: 0px; display: none"
			id="xubox_layer6" class="xubox_layer" type="page">
			<div
				style="z-index: 19891020; height: 0px; background-color: rgb(255, 255, 255);"
				class="xubox_main">
				<div class="xubox_page">
					<div class="xuboxPageHtml">
						<div id="iLoading_overlay" class="iLoading_overlay"
							style="display: block;"></div>
						<div class="iLoading_showbox" style="display: block; opacity: 1;">
							<div class="iLoading_loading_pic"></div>
							<p>请等待...</p>
						</div>
					</div>
				</div>
			</div>
			<div id="xubox_border6" class="xubox_border"
				style="z-index: 19891019; opacity: 0; top: 0px; left: 0px; width: 0px; height: 0px; background-color: rgb(255, 255, 255);">
			</div>
		</div>
		<hr />

		<footer class="clearfix text-center">
			<p>
				&copy; 新时代证券股份有限公司帮助中心 版权所有 Copyright by @2018-2019 Reserved.
			</p>
		</footer>
	</div>
	<script type="text/javascript" src="lib/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="lib/jArtDialog.min.js"></script>
	<script type="text/javascript" src="lib/jquery.cookie.min.js"></script>
	<script type="text/javascript" src="lib/angular.js"></script>
	<script type="text/javascript" src="lib/bootstrap.min.js"></script>
	<script type="text/javascript" src="lib/angularExtends/angular-ui-router.js"></script>
	<script type="text/javascript" src="lib/angularExtends/angular-animate.js"></script>


	<script type="text/javascript" src="lib/script.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="lib/service/httpUtils.js"></script>
	<script type="text/javascript" src="lib/service/commonUtils.js"></script>
	<script type="text/javascript" src="lib/service/gridService.js"></script>
	<script type="text/javascript" src="lib/service/layerUtils.js"></script>
	<script type="text/javascript" src="lib/service/utils.js"></script>
	<script type="text/javascript" src="lib/service/interceptor.js"></script>
	<script type="text/javascript" src="lib/service/filter.js"></script>
	<script type="text/javascript" src="lib/directives/ui-checkboxtree.js"></script>

	<script type="text/javascript" src="index.js"></script>
	<script>
		jQuery(document).ready(function() {
			App.setPage("index");
			//Set current page
			App.init();
			//Initialise plugins and elements
		});
	</script>

</body>
</html>
