<script type="text/javascript" src="htmls/product/brandmodify.js"></script>
<script type="text/javascript">
</script>
<div class="box border primary" ng-init="init()">
    <div class="box-title">
        <h4>
            <i class="fa fa-bars"></i>修改商品分类
        </h4>
        <div class="tools hidden">
            <a href="#box-config" data-toggle="modal" class="config"> <i
                class="fa fa-cog"></i>
            </a> <a href="javascript:;" class="reload"> <i class="fa fa-refresh"></i>
            </a> <a href="javascript:;" class="collapse"> <i
                class="fa fa-chevron-up"></i>
            </a> <a href="javascript:;" class="remove"> <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="box-body big">
        <form action="" class="form-horizontal">
            <fieldset>
                <legend> 修改商品分类</legend>

                <div class="form-group">
                    <label class="col-sm-3 control-label">商品类别id：</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="goodsTypeId" name="goodsTypeId"
                               ng-model="formData.goodsTypeId" readOnly=true placeholder="请输入内容" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">商品类别名称：</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="goodsTypeName" name="goodsTypeName"
                               ng-model="formData.goodsTypeName" readOnly=true placeholder="请输入内容" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">图像url：</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="imageUrl" name="imageUrl"
                               ng-model="formData.imageUrl" placeholder="请输入内容" />
                    </div>
                </div>

                <div class="form-group ">
                    <label  class="col-sm-3 control-label">商品状态:</label>
                    <div class="col-sm-6">
                        <select class="form-control" ng-model="formData.sellStatus"
                                ng-options="item.code as item.desc for item in sellStatusList | filter:{desc:'!全部'}" ></select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="button" ng-click="newBuild()" id="newBuild"
                            class="btn btn-default btn-primary">保存</button>
                    </div>
                </div>
            </fieldset>
        </form>

    </div>
   
</div>