<script src="././exporttable/alasql.min.js" type="text/javascript"></script>
<script src="././exporttable/xlsx.core.min.js" type="text/javascript">
</script><script type="text/javascript" src="htmls/product/brandmanage.js"></script>
<script type="text/javascript">
</script>
<div class="box border primary" ng-init="init()">
    <div class="box-title">
        <h4>
            <i class="fa fa-bars"></i>商品分类查询
        </h4>
        <div class="tools hidden">
            <a href="#box-config" data-toggle="modal" class="config"> <i
                    class="fa fa-cog"></i>
            </a> <a href="javascript:;" class="reload"> <i class="fa fa-refresh"></i>
        </a> <a href="javascript:;" class="collapse"> <i
                class="fa fa-chevron-up"></i>
        </a> <a href="javascript:;" class="remove"> <i class="fa fa-times"></i>
        </a>
        </div>
    </div>
    <div class="box-body">
        <div class="dataTables_wrapper form-inline" role="grid">
            <div class="panel-body form-inline">
                <form class="form-inline margin10">
                    &nbsp
                    <div class="form-group ">
                        <label>商品类别id:</label>
                        <input type="text" class="form-control input-300 " id="goodsTypeId" name="goodsTypeId"
                               ng-model="formData.goodsTypeId" placeholder="请输入关键字"></input>
                    </div>
                    &nbsp

                    <div class="form-group ">
                        <label class="control-label text-right">商品类别状态:</label>
                        <select class="form-control" ng-model="formData.sellStatus"
                                ng-options="item.code as item.desc for item in sellStatusList"></select>
                    </div>
                    &nbsp
                    <input type="button" value="查询" class="btn btn-primary"
                           ng-click="getBrandList(50)" />
                </form>
            </div>
            <hr />
            <div  class="dataTables_wrapper form-inline" role="grid">
                <div class="row hide" ng-show="activityProductsList.length>0">
                    <div class="col-sm-12">
                        <div class="pull-right">
                            <div class="dataTables_filter" id="datatable1_filter">
                                <label> <input type="text" aria-controls="datatable1"
                                               placeholder="Search" ng-model="search" class="form-control input-sm">
                                </label>
                            </div>
                        </div>
                        <div class="pull-left hide">
                            <div id="datatable1_length" class="dataTables_length">
                                <label> 显示 <select size="1" name="datatable1_length"
                                                   ng-model="selectNum"
                                                   ng-options="row.num for row in selectNumList"
                                                   aria-controls="datatable1" class="form-control input-sm">
                                </select> 行
                                </label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <table id="datatable1" cellpadding="0" cellspacing="0" border="0" width="80%"
                       class="datatable table table-striped table-bordered table-hover dataTable text-center"
                       aria-describedby="datatable1_info">
                    <thead>
                    <div>
                        <button type="button" ng-click="newBuild()"
                                class="btn btn-default btn-primary">新增</button>

                        &nbsp &nbsp
                        <button  type="button" class="btn btn-info btn-sm"
                                 ng-click="batchModifyInfo()">
                            <i class="fa fa-pencil-square-o"></i><span> 编辑</span>
                        </button>
                        &nbsp &nbsp
                        <button  type="button" class="btn btn-danger btn-sm"
                                 ng-click="batchDeleteInfo()">
                            <i class="fa fa-trash-o"></i><span> 删除</span>
                        </button>
<!--                        &nbsp &nbsp
                        <button type="button" class="btn btn-primary btn-sm" ng-click="cardImport()">
                            <i class="fa fa-upload"></i><span> 批量导入</span>
                        </button>
                        &nbsp &nbsp
                        <button  type="button" class="btn btn-info btn-sm"
                                 ng-click="exportToExcel()">
                            <i class="fa fa-download"></i><span> 导出</span>
                        </button>-->

                    </div>
                    &nbsp
                    <tr role="row">
                        <th class="col-sm-1 text-center"><input type="checkbox" ng-click="selectAll($event)" ng-checked="isSelectedAll()" /></th>
                        <th class="col-sm-1 text-center">序号</th>
                        <th class="col-sm-1 text-center" role="columnheader" tabindex="0"
                            aria-controls="datatable1" rowspan="1" colspan="1">商品类别id</th>
                        <th class="col-sm-1 text-center" role="columnheader" tabindex="0"
                            aria-controls="datatable1" rowspan="1" colspan="1">商品类别名称</th>
                        <th class="col-sm-1 text-center" role="columnheader" tabindex="0"
                            aria-controls="datatable1" rowspan="1" colspan="1">图像url</th>
                        <th class="col-sm-1 text-center" role="columnheader" tabindex="0"
                            aria-controls="datatable1" rowspan="1" colspan="1">商品类别状态</th>
                        <th class="col-sm-1 text-center" role="columnheader" tabindex="0"
                            aria-controls="datatable1" rowspan="1" colspan="1">创建时间</th>
                        <th class="col-sm-1 text-center" role="columnheader" tabindex="0"
                            aria-controls="datatable1" rowspan="1" colspan="1">更新时间</th>
                    </tr>
                    </thead>
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                    <tr ng-repeat="brand in brandList">
                        <td ><input type="checkbox" name="selected" ng-checked="isSelected(brand.id)" ng-click="updateSelection($event,brand.id)" /></td>
                        <td >{{$index+selectNum["num"]*currentPage.page+1}}</td>
                        <td ><div style="white-space:nowrap;" >{{brand.goodsTypeId}}</div> </td>
                        <td ><div style="white-space:nowrap;" >{{brand.goodsTypeName}}</div> </td>
                        <td ><div style="white-space:nowrap;">{{brand.imageUrl}}</div> </td>
                        <td ><div style="white-space:nowrap;">{{brand.sellStatus==0?"上架":"下架"}}</div> </td>
                        <td ><div style="white-space:nowrap;">{{brand.createTime}}</div> </td>
                        <td ><div style="white-space:nowrap;">{{brand.updateTime}}</div> </td>
                    </tr>
                    </tbody>
                    <tfoot>
                </table>
                <div class="row hide">
                    <div class="col-sm-12" ng-model="pagination">
                        <div class="pull-left">
                            <div class="dataTables_info" id="datatable1_info">
                                第 {{pagination.pageNumber+1}} 页     /  共  {{pagination.totalItems}} 记录
                            </div>
                        </div>
                        <div class="pull-right">
                            <div class="dataTables_paginate paging_bs_full"
                                 id="datatable1_paginate">
                                <ul class="pagination">
                                    <li class="disabled" id="page_first"
                                        ng-click="getUserList('first')"><a tabindex="0"
                                                                           class="paginate_button first" id="datatable1_first">首页</a></li>
                                    <li class="disabled" id="page_previous"><a tabindex="0"
                                                                               ng-click="getUserList('previous')"
                                                                               class="paginate_button previous" id="datatable1_previous">上一页</a>
                                    </li>
                                    <li id="page_next"><a tabindex="0"
                                                          ng-click="getUserList('next')" class="paginate_button next"
                                                          id="datatable1_next">下一页</a></li>
                                    <li id="page_last" ng-click="getUserList('last')"><a
                                            tabindex="0" class="paginate_button last" id="datatable1_last">尾页</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>