<script type="text/javascript" src="htmls/modulelist/modulelist.js"></script>
<div ng-init="init()">
	<div>
		<ol class="breadcrumb">
			<li>
				<a href="#">版本管理</a>
			</li>
			<li class="active">
				<a ui-sref=".modulelist">版本列表管理</a>
			</li>
		</ol>
	</div>

	<div>
		<form class="form-horizontal">
			<fieldset>
				<legend>
					根据APP版本查询模块列表信息
				</legend>
				<div class="form-group">
					<label class="col-sm-2 control-label">APP版本</label>
					<div class="col-sm-6">
						<select class="form-control" ng-model="formData.release" ng-options="item.versionId for item in releaseList" ></select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-6"></div>
					<div class="col-sm-2 text-center">
						<input type="button" value="查找" class="btn btn-primary" ng-click="queryModules()" />
					</div>
				</div>
			</fieldset>
		</form>
	</div>

	<hr />

	<table class="table table-striped table-hover text-center" ng-show="modules">
		<thead>
			<tr>
				<th class="text-center">序号</th><th class="text-center">版本描述</th><th class="text-center">模块名称</th><th class="text-center">线上地址</th><th class="text-center">强制更新</th><th class="text-center">公共模块</th><th class="text-center">入口文件</th><th class="text-center" class="hide">解除关联</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in modules">

				<td>{{$index+1}}</td>
				<td>
				<div>
					{{modulePlatformString}}
				</div></td>
				<td>
				<div>
					<span>{{item["moduleName"]}}</span>
				</div></td><td>
				<div>
					{{item.onlineUrl}}
				</div></td><td>
				<div>
					{{item.onlineUrlFlag}}
				</div></td><td>
				<div>
					{{item.isCommon}}
				</div></td>
				<td>
				<div>
					{{item.entrance}}
				</div></td>
				<td class="text-center">
				<div>
					<button type="button" class="btn btn-primary" ng-click="deleteRelate($index)">
						<i class="glyphicon glyphicon-remove-circle"></i> 解绑
					</button>
				</div></td>
			</tr>
		</tbody>

	</table>
</div>