<script type="text/javascript" src="htmls/integral/integralModify.js"></script>
<script type="text/javascript">
</script>
<div class="box border primary" ng-init="init()">
    <div class="box-title">
        <h4>
            <i class="fa fa-bars"></i>编辑积分项目
        </h4>
        <div class="tools hidden">
            <a href="#box-config" data-toggle="modal" class="config"> <i
                class="fa fa-cog"></i>
            </a> <a href="javascript:;" class="reload"> <i class="fa fa-refresh"></i>
            </a> <a href="javascript:;" class="collapse"> <i
                class="fa fa-chevron-up"></i>
            </a> <a href="javascript:;" class="remove"> <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="box-body big">
        <form action="" class="form-horizontal">
            <fieldset>
                <legend> 编辑积分项目</legend>
                <div class="form-group">
                    <label for="versionId" class="col-sm-3 control-label">项目编码：</label>
                    <div class="col-sm-6">
                        <input type="text" autocomplete="off" class="form-control" id="categoryCode"
                           readOnly=true  name="categoryCode" ng-model="formData.categoryCode"
                            placeholder="请输入内容" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">项目名称：</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="categoryName" name="categoryName"
                            ng-model="formData.categoryName" placeholder="请输入内容" />
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-sm-3 control-label">前端展示名称：</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="frontName" name="frontName"
                            ng-model="formData.frontName" placeholder="请输入内容" />
                    </div>
                </div> 
               <!--  <div class="form-group">
                    <label class="col-sm-3 control-label">积分值：</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="integralValue" name="integralValue"
                            ng-model="formData.integralValue" placeholder="请输入内容" />
                    </div>
                </div> -->         
                <div class="form-group ">
                    <label  class="col-sm-3 control-label">是否启用:</label>
                       <div class="col-sm-6">
                        <select class="form-control"  ng-model="flagModel"
                            ng-options="x.name for x in flagList" ></select>
                     </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="button" ng-click="newBuild()" id="newBuild"
                            class="btn btn-default btn-primary">保存</button>
                    </div>
                </div>
            </fieldset>
        </form>

    </div>
   
</div>