<script type="text/javascript" src="htmls/integral/userTotalIntegralModify.js"></script>
<script type="text/javascript">
</script>
<div class="box border primary" ng-init="init()">
    <div class="box-title">
        <h4>
            <i class="fa fa-bars"></i>编辑客户总积分
        </h4>
        <div class="tools hidden">
            <a href="#box-config" data-toggle="modal" class="config"> <i
                class="fa fa-cog"></i>
            </a> <a href="javascript:;" class="reload"> <i class="fa fa-refresh"></i>
            </a> <a href="javascript:;" class="collapse"> <i
                class="fa fa-chevron-up"></i>
            </a> <a href="javascript:;" class="remove"> <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="box-body big">
        <form action="" class="form-horizontal">
            <fieldset>
                <legend> 编辑客户总积分</legend>
                <div class="form-group">
                    <label for="versionId" class="col-sm-3 control-label">客户号：</label>
                    <div class="col-sm-6">
                        <input type="text" autocomplete="off" class="form-control" id="clientId"
                           readOnly  name="clientId" ng-model="formData.clientId"
                            placeholder="请输入内容" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">客户姓名：</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="clientName" name="clientName"
                            readOnly ng-model="formData.clientName" placeholder="请输入内容" />
                    </div>
                </div>
                 
              	<div class="form-group">
                    <label class="col-sm-3 control-label">当前总积分：</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="total" name="total"
                            readOnly ng-model="formData.total" placeholder="请输入内容" />
                    </div>
                </div>     
                <div class="form-group ">
                    <label  class="col-sm-3 control-label">变更:</label>
                       <div class="col-sm-3">
                        <select class="form-control"  ng-model="flagModel"
                            ng-options="x.name for x in flagList" ></select>
                     </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">数值：</label>
                    <div class="col-sm-6">
                        <input type="text" oninput="value=value.replace(/[^\d]/g,'')" class="form-control" id="changeNum" name="changeNum"
                             ng-model="formData.changeNum" placeholder="请输入值" />
                    </div>
                </div> 
                <div class="form-group ">
					<label class="col-sm-3 control-label ">变更理由:</label>
					<div class="col-sm-6">
					<select class="form-control" ng-model="formData.category"
							ng-options="item.categoryName for item in categoryList"></select>
					</div>
				</div>
                 
                
                <div class="form-group">
                	
                    <div class="col-sm-offset-3 col-sm-9">
                    	<button type="button" ng-click="cancel()" 
                            class="btn btn-default btn-danger">取消</button>
                        <button type="button" ng-click="newBuild()" id="newBuild"
                            class="btn btn-default btn-primary">提交</button>
                    </div>
                </div>
            </fieldset>
        </form>

    </div>
   
</div>