<script type="text/javascript" src="htmls/info/checklist.js"></script>
<div class="box border primary" ng-init="init()">
	<div class="box-title">
		<h4>
			<i class="fa fa-bars"></i>信息审核列表
		</h4>
		<div class="tools hidden">
			<a href="#box-config" data-toggle="modal" class="config"> <i
				class="fa fa-cog"></i>
			</a> <a href="javascript:;" class="reload"> <i class="fa fa-refresh"></i>
			</a> <a href="javascript:;" class="collapse"> <i
				class="fa fa-chevron-up"></i>
			</a> <a href="javascript:;" class="remove"> <i class="fa fa-times"></i>
			</a>
		</div>
	</div>
	<div class="box-body">
		<div class="dataTables_wrapper form-inline" role="grid">
			<div class="row hide">
				<div class="col-sm-12">
					<div class="pull-right">
						<div class="dataTables_filter" id="datatable1_filter">
							<label> <input type="text" aria-controls="datatable1"
								placeholder="Search" class="form-control input-sm">
							</label>
						</div>
					</div>
					<div class="pull-left">
						<div id="datatable1_length" class="dataTables_length">
							<label> 显示 <select size="1" name="datatable1_length"
								ng-model="selectNum"
								ng-options="row.num for row in selectNumList"
								aria-controls="datatable1" class="form-control input-sm">
							</select> 行
							</label>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<table id="datatable1" cellpadding="0" cellspacing="0" border="0"
				class="datatable table table-striped table-bordered table-hover dataTable text-center"
				aria-describedby="datatable1_info">
				<thead>
					<tr role="row">
						<th class="col-sm-1 text-center" role="columnheader" tabindex="0"
							aria-controls="datatable1" rowspan="1" colspan="1">序号</th>
						<th class="col-sm-1 text-center" role="columnheader" tabindex="0"
							aria-controls="datatable1" rowspan="1" colspan="1">文章标题</th>
						<!--  <th class="col-sm-2 text-center" role="columnheader" tabindex="0"
							aria-controls="datatable1" rowspan="1" colspan="1">内容摘要</th>-->
						<th class="col-sm-1 text-center" role="columnheader" tabindex="0"
							aria-controls="datatable1" rowspan="1" colspan="1">审核</th>
					</tr>
				</thead>
				<tbody role="alert" aria-live="polite" aria-relevant="all">
					<tr ng-repeat="info in checkList">
						<td class="col-sm-1">{{$index+1}}</td>
						<td class="col-sm-1">{{info.title}}</td>
						<!--  <td class="col-sm-2"><span ng-bind="info.content |substring:0:23"></span></td>-->
						<td class="col-sm-1">
							<div>
								<button type="button" class="btn btn-warning btn-sm"
									ng-click="checkInfo($index)">
									<i class="fa fa-clipboard"></i><span> 去审核</span>
								</button>
							</div>
						</td>
					</tr>
				</tbody>

			</table>
			<div class="row hide">
				<div class="col-sm-12" ng-model="pagination">
					<div class="pull-left">
						<div class="dataTables_info" id="datatable1_info">显示
							{{pagination.start}} 到 10 / {{pagination.totalItems}} 记录</div>
					</div>
					<div class="pull-right">
						<div class="dataTables_paginate paging_bs_full"
							id="datatable1_paginate">
							<ul class="pagination">
								<li class="disabled" id="page_first"
									ng-click="getUserList('first')"><a tabindex="0"
									class="paginate_button first" id="datatable1_first">首页</a></li>
								<li class="disabled" id="page_previous"><a tabindex="0"
									ng-click="getUserList('previous')"
									class="paginate_button previous" id="datatable1_previous">上一页</a>
								</li>
								<li id="page_next"><a tabindex="0"
									ng-click="getUserList('next')" class="paginate_button next"
									id="datatable1_next">下一页</a></li>
								<li id="page_last" ng-click="getUserList('last')"><a
									tabindex="0" class="paginate_button last" id="datatable1_last">尾页</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div>