<script type="text/javascript" src="htmls/category/modifycategory.js"></script>
<div class="box border primary" ng-init="init()">
	<div class="box-title">
		<h4>
			<i class="fa fa-bars"></i>修改分类
		</h4>
		<div class="tools hidden">
			<a href="#box-config" data-toggle="modal" class="config"> <i
				class="fa fa-cog"></i>
			</a> <a href="javascript:;" class="reload"> <i class="fa fa-refresh"></i>
			</a> <a href="javascript:;" class="collapse"> <i
				class="fa fa-chevron-up"></i>
			</a> <a href="javascript:;" class="remove"> <i class="fa fa-times"></i>
			</a>
		</div>
	</div>
	<div class="box-body big">
		<form class="form-horizontal">
			<fieldset>
				<legend> 修改分类的相关信息 </legend>
				<div class="form-group">
					<label for="moduleId" class="col-sm-2 control-label">分类名称</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="title"
							ng-model="formData.title" required placeholder="请输入分类名称" />
					</div>
					<div class="col-sm-4">
						<span class="text-danger control-label">* </span> <label
							class="text-warning control-label"></label>
					</div>
				</div>
				
				<div class="form-group">
					<label for="moduleId" class="col-sm-2 control-label">分类图片</label>
					<div class="col-sm-6">
						<input type="file" name="photo" id="image"  accept="image/jpg,image/jpeg,image/png,image/gif" />
					</div>
					<div class="col-sm-4">
						
					</div>
				</div>
				<div class="form-group">
					<label for="moduleId" class="col-sm-2 control-label"></label>
					<div class="col-sm-6">
						<img  src="" class="img-responsive" id="tempImage" />
					</div>
					<div class="col-sm-4">
		
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 text-center col-sm-10">
						<button type="button" ng-click="modifyCategory()"
							class="btn btn-default btn-primary">修改</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>