<script type="text/javascript" src="htmls/admin/sortcategory.js"></script>
<div class="box border primary sortcategory" ng-init="init()">
	<div class="box-title">
		<h4>
			<i class="fa fa-bars"></i>分类排序
		</h4>
		<div class="tools hidden">
			<a href="#box-config" data-toggle="modal" class="config"> <i
				class="fa fa-cog"></i>
			</a> <a href="javascript:;" class="reload"> <i class="fa fa-refresh"></i>
			</a> <a href="javascript:;" class="collapse"> <i
				class="fa fa-chevron-up"></i>
			</a> <a href="javascript:;" class="remove"> <i class="fa fa-times"></i>
			</a>
		</div>
	</div>
	<div class="box-body big">
		<form action="" class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-9 sort-img-wrapper-wrapper">
					<div class="row" id="dragWrapper">
						<div class="col-sm-4 text-center" id="drag{{$index+1}}" draggable="true" ng-repeat="category in categorys"
							ng-init="initEvent($index)">
							<div class="sort-img-wrapper text-center">
								<img class="img-responsive" id="drag-img-{{$index+1}}"
									src="{{category.image}}"> <span ng-bind="category.title"></span>{{$index+1}}
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3 sort-img-tip">
					<span class="text-warning">支持拖动排序，请像操作手机一样，操作图标</span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12 margin-top-20 text-center">
					<button type="button" ng-click="sort()"
						class="btn btn-default btn-warning">确 认 排 序</button>
				</div>
			</div>
		</form>
	</div>
</div>