body {
	height: 100%;
	width: 100%;
	background: #ffffff;
	background-image: url(../images/login.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

#login {
	padding-top: 350px;
	margin: 0 auto;
}

#login h3 {
	margin: 1px;
}



#login .error-msg {
	line-height: 46px;
	color: red;
}

#login .form {
	width: 400px;
	margin-right: 0;
	margin-left: 5;
	background-color: transparent;
	border-color: #ddd;
	border-width: 10px;
	border-radius: 5px;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 15px 15px 15px 10px;
	margin: 0 auto;
}
#Box1{

height:72px;

}
#Box2{

height:72px;

}

#login .form .login_form {
	
}